/* Historique : */
/* 2026-09-08 : Nettoyage de l'interface par défaut (J3-S2). */

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f5f7;
}

main {
    flex: 1;
}

.content {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 1rem;
    min-height: calc(100vh - 2rem);
}